$body-margin = 1ex
$progress-radius = 0.25rem

progress-bar()
  border-radius $progress-radius
  background-color green
  print-color-adjust exact

underlined(color = black, style = solid, thickness = 0.15ex)
  text-decoration underline color style thickness
  text-underline-position under

separator(content = "·", padding = 0 0.5em)
  content content
  padding padding

:root
  font-size 11pt
  font-family "Lato", sans-serif
  text-rendering geometricPrecision // fixes kerning

@media not print
  @page
    margin $body-margin * 2

@media print
  @page
    margin 2.5cm

body
  padding 0

@media only screen and (min-width: 297mm)
  body
    height 210mm
    width 297mm
    margin auto

main
  margin 0 $body-margin

header
  height 8rem
  margin $body-margin $body-margin * 1.5 (- $body-margin)

  img
    float right
    max-height 90%
    border 0.3ex solid darkgreen
    border-radius 15%

article
  break-inside avoid-page

h1
  font-size 1.6em
  font-weight 600

h2
  font-size 1.4em
  font-weight 400

h3
  font-size 1.2em
  font-weight 600

  &::before
    content " "
    height 0
    width "calc(100% + %s)" % ($body-margin * 2)
    display block
    position relative
    padding-block-start 1em
    border-block-start 0.2ex solid lightslategray
    left - $body-margin
    right - $body-margin

strong
  font-size 1.1em
  font-weight 600

b
  font-weight 600

small
  font-size 0.9em

em
  font-style normal
  underlined()

address
  font-style inherit

a, a:hover
  color inherit
  outline none
  underlined(cyan)

mark
  color white
  background-color darkcyan
  border-radius 0.2em
  display inline-block
  padding 0.15em 0.25em
  margin 0 0 0.2em 0.2em
  print-color-adjust exact

ul
  padding-inline-start 2em
  li
    list-style disclosure-closed

progress
  height 0.5rem
  border 0
  width 95%
  background-color gray
  display inline-block
  border-radius $progress-radius
  margin 0.25em 0
  print-color-adjust exact

  &::-moz-progress-bar
    progress-bar()

  &::-webkit-progress-value
    progress-bar()

  &::-webkit-progress-bar
    border-radius $progress-radius

time + :is(time, span)::before
  separator("–", 0 0.25em)

// TODO: rewrite using grid
.flex
  display flex
  flex-wrap wrap
  justify-content space-evenly
  gap 0 0.75rem

  > h3
    flex-basis 100%

  > section
    flex 1

.details
  > :first-child
    margin-block-end 1em

  > div > :nth-child(2)::before
    separator()

  &:not(:last-of-type)
    padding-block-end 1em
    border-block-end 0.15ex dashed darkslategray

.reference
  background lightgray
  width max-content
  display inline-block
  border-radius 5%
  padding 0.5em 1em
  margin-inline-end 1em
  print-color-adjust exact

  > blockquote
    font-style italic
    margin 0

    &::before
      content "“"
      font-size 2em
      line-height 0.1em
      vertical-align -0.4em
      color lightslategray
      padding-inline-end 0.25em

  > b::before
    separator("–", 0 0.5em 0 0)

.wrap
  line-height 1.5em
  white-space pre-wrap

.icon
  height 0.9rem
  width 0.9rem
  vertical-align middle
  margin-inline-end 0.2rem

  h3 > &
    margin-block-end 0.4ex

  #location > &
    vertical-align initial
    margin-block-start -0.4ex

// XXX: :is() can't be used here
.award > div:nth-of-type(2),
.certificate > div:nth-of-type(2),
.publication > div:nth-of-type(2)
  margin-block-start 0.25em

  > b::after
    separator()

:is(.skill, .language, .interest) > div
  margin-block-start 0.75ex

#summary
  padding-block-end 1em
  border-block-end 0.1ex dotted darkgray

#image
  display contents

:is(#contact, #profiles) > div
  margin-block-end 0.25ex
